{
  "presets": ["@babel/preset-typescript", "next/babel"],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-prop osal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
  ]
}
